body {
    background-image: url(/home/yo/Code/challenge_6/images/fond.png);
    font-family: Arial;
}
header {
    background-image: url(/home/yo/Code/challenge_6/images/header.png);
    color: white;
}
h1 {
    text-align: center;
}
h1, h2, h3 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}
nav {
    font-family: 'Abel', sans-serif;
    background-image: linear-gradient(#76cbfa,#4a91d2);
    box-shadow: 1px 1px 1px white inset;
}
nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}
a {
    color: inherit;
}
header img {
    background-image: url(/home/yo/Code/challenge_6/images/fond.png);
    padding: 2em;
}
button, .aside1 a {
    background-image: linear-gradient(#ff3d00,#ff0000);
    border: 0;
    border-radius: 5px;
    color: white;
}
button {
    padding: 0.5em 1em;
}
.aside1 a {
    padding: 0.5em;
    text-transform: uppercase;
}
.article2 {
    background-image: url(/home/yo/Code/challenge_6/images/fond-article.png);
}
.footer {
    background-image: url(/home/yo/Code/challenge_6/images/footer.png);
}
